<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve data</title>
     <style>
       table,td{ border:2px solid  blue;
        cell-padding:10;
        cell-spacing:10;

        width:auto;
        border-radius:5px;
        margin:3px;
        padding:5px;
        align:center;}
button{
background:red;
width:100%;
}
td{
color:blue;}</style>
</head>
<body>
<form method="post" action="">
    <table>
        <thead>
        <tr>
        <td>Cunstomer Id</td>
        <td>Customer Name</td>
        <td>Customer Type</td>
        <td>Action</td></tr>
        </thead>
        <tbody>
        {% for e in d %}
        <tr>
            <td>{{e.Cust_id}}</td>
            <td>{{e.Cust_name}}</td>
            <td>{{e.Cust_type}}</td>
            <td>
                <a href="/edit/{{e.id}}">Edit</a>
                <a href="/delete/{{e.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}</tbody>
    </table>
</form>

</body>
</html>
